# Final Project

In [257]:
import sys
sys.executable

'/home/hts/.miniconda/envs/min_ds_clone-env/bin/python'

## Group 11: 

| MSSV     | Họ tên         | Github                                        |
|----------|----------------|-----------------------------------------------|
| 19127535 | Trần Kiến Quốc | [grevyarlesp](https://github.com/grevyarlesp) |
| 19127637 | Nguyễn Khắc Vỹ | [Khacvy1707](https://github.com/Khacvy1707)   |

## Dependencies

In [258]:
import pandas as pd
import os
import numpy as np

## Collecting Data

1. What subject is your data about? What is the source of your data?

Answers to StackOverflow Developer Survey 2021

2. Do authors of this data allow you to use like this? You can check the data license

https://stackoverflow.blog/2021/08/30/the-full-data-set-for-the-2021-developer-survey-now-available/

> TLDR: You are free to share, adapt, and create derivative works from The Public 2021 Stack Overflow Developer Survey Results as long as you attribute Stack Overflow, keep the database open (if you redistribute it), and continue to share-alike any adapted database under the ODbl.


3.  How did authors collect data?

Data are collected by survey

## Exploring Data

### Checking the data folder

In [259]:
DATA_DIR = './data/stack-overflow-developer-survey-2021/'
files = !ls $DATA_DIR 
files = [file for file in files if '.csv' in file]
files

['survey_results_public.csv', 'survey_results_schema.csv']

### Reading data

In [260]:
df1 = pd.read_csv(os.path.join(DATA_DIR, files[0]))

In [261]:
df1

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

### Questions

#### How many rows and columns?

In [262]:
num_rows, num_cols = df1.shape
num_rows, num_cols

(83439, 48)

#### What is the meaning of each row?

In [263]:
df1.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [264]:
df1['OrgSize']

0                                       20 to 99 employees
1                                                      NaN
2                                                      NaN
3                                     100 to 499 employees
4        Just me - I am a freelancer, sole proprietor, ...
                               ...
83434                                   20 to 99 employees
83435    Just me - I am a freelancer, sole proprietor, ...
83436                             10,000 or more employees
83437                                   20 to 99 employees
83438                                         I don’t know
Name: OrgSize, Length: 83439, dtype: object


Answers to the questions on stackoverflow. A few we may care about:

- MainBranch
- Employment 
- Country 
- EdLevel : Education level
- Age1stCode: The age at which they first code
- LearnCode: Where they learn code.
- YearsCode: Number of years they have been coding
- YearsCodePro: number of years they have been coding professionally
- DevType:  type of developer
- OrgSize: size of the companies they are working at
- ConvertedCompYearly: converted yearly compensation in US dollar
- LanguageHaveWorkedWith : languages they have worked with
- LanguageWantToWorkWith
- MiscTechHaveWorkedWith: NumpY, TensorFlow, Flutter, Qt
- MiscTechWantToWorkWith
- OpSys: Their primary operating system
- Age: Age group they belong to
- NEWCollabToolsWantToWorkWith: developmenet environment (Vim,PyCharm, Notepad, Sublime,...)
- NEWCollabToolsHaveWorkedWith: developmenet environment (Vim,PyCharm, Notepad, Sublime,...)
- Gender

Refer to the questions sheet for more detail.

In [265]:
cols = [
    'MainBranch', 'Employment', 'Country', 'EdLevel', 'Age1stCode', 'LearnCode', 
    'YearsCode', 'YearsCodePro','DevType', 'OrgSize', 'ConvertedCompYearly', 'LanguageHaveWorkedWith',
    'LanguageWantToWorkWith', 'LanguageWantToWorkWith', 'MiscTechHaveWorkedWith',
    'MiscTechWantToWorkWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
    'OpSys', 'Age', 'Gender'
    
]
numerical_cols = np.array([
    'YearsCode', 'YearsCodePro', 'ConvertedCompYearly'
])

categorical_cols = np.array([
    'MainBranch', 'Employment', 'Country', 'EdLevel', 'Age1stCode',
    'DevType', 'OrgSize', 'OpSys', 'Age', 'Gender'
    
])

df1 = df1[cols]

#### Are there duplicated rows?

In [283]:
have_duplicated_rows = df1.duplicated()
have_duplicated_rows = have_duplicated_rows.any()
have_duplicated_rows, df1.duplicated().sum()

(True, 3)

So there are 3 duplicated rows

#### What is the current data type of each column? Are there columns having inappropriate data types?

In [267]:
pd.DataFrame(df1.dtypes)

                                    0
MainBranch                     object
Employment                     object
Country                        object
EdLevel                        object
Age1stCode                     object
LearnCode                      object
YearsCode                      object
YearsCodePro                   object
DevType                        object
OrgSize                        object
ConvertedCompYearly           float64
LanguageHaveWorkedWith         object
LanguageWantToWorkWith         object
LanguageWantToWorkWith         object
MiscTechHaveWorkedWith         object
MiscTechWantToWorkWith         object
NEWCollabToolsWantToWorkWith   object
NEWCollabToolsHaveWorkedWith   object
OpSys                          object
Age                            object
Gender                         object

There are quite many rows with inapproriate data types...: YearsCode, YearsCodePro

####  With each numerical column, how are values distributed?

-  What is the percentage of missing values?
-  Min? max? Are they abnormal?

In [268]:
numerical_cols

array(['YearsCode', 'YearsCodePro', 'ConvertedCompYearly'], dtype='<U19')

In [278]:
df1.loc[:, numerical_cols[0:2]] = df1.loc[:, numerical_cols[0:2]].replace('More than 50 years', '50.1')
df1.loc[:, numerical_cols[0:2]] = df1.loc[:, numerical_cols[0:2]].replace('Less than 1 year', '0.9')
df1.loc[:, numerical_cols[0:2]] = df1[numerical_cols[0:2]].astype(np.float64)

/home/hts/.miniconda/envs/min_ds_clone-env/lib/python3.8/site-packages/pandas/core/indexing.py:1787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [270]:
def missing_rate(s):
    return s.isna().sum() / len(s)
    
num_cols_info = df1[numerical_cols].agg([min, max, pd.DataFrame.mean, missing_rate])
num_cols_info

              YearsCode  YearsCodePro  ConvertedCompYearly
min            0.900000      0.900000         1.000000e+00
max           50.100000     50.100000         4.524131e+07
mean          12.352741      9.223244         1.184262e+05
missing_rate   0.021549      0.266338         4.385839e-01

There are many rows with missing values.

#### With each categorical column, how are values distributed?

- What is the percentage of missing values?
- How many different values? Show a few. Are they abnormal?

In [271]:
df1[categorical_cols]

,MainBranch,Employment,Country,EdLevel,Age1stCode,DevType,OrgSize,OpSys,Age,Gender
0,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,"Secondary school (e.g. American high school, G...",18 - 24 years,"Developer, mobile",20 to 99 employees,MacOS,25-34 years old,Man
1,I am a student who is learning to code,"Student, full-time",Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,NaN,NaN,Windows,18-24 years old,Man
2,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,NaN,NaN,MacOS,18-24 years old,Man
3,I am a developer by profession,Employed full-time,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Developer, front-end",100 to 499 employees,Windows,35-44 years old,Man
4,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",Linux-based,25-34 years old,Man
...,...,...,...,...,...,...,...,...,...,...
83434,I am a developer by profession,Employed full-time,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Developer, back-end",20 to 99 employees,MacOS,25-34 years old,Man
83435,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",Linux-based,18-24 years old,Man
83436,I am a developer by profession,Employed full-time,United States of America,"Secondary school (e.g. American high school, G...",11 - 17 years,Data scientist or machine learning specialist;...,"10,000 or more employees",Windows,25-34 years old,Man
83437,I am a developer by profession,Employed full-time,Canada,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Developer, back-end",20 to 99 employees,MacOS,25-34 years old,Man
83438,I am a developer by profession,Employed full-time,Brazil,"Professional degree (JD, MD, etc.)",11 - 17 years,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,Linux-based,18-24 years old,Man

In [279]:

cate_cols_info = df1[categorical_cols].agg([missing_rate, pd.Series.unique, pd.Series.nunique])
cate_cols_info

,MainBranch,Employment,Country,EdLevel,Age1stCode,DevType,OrgSize,OpSys,Age,Gender
missing_rate,0.0,0.00139,0.0,0.003751,0.002349,0.203202,0.272211,0.001738,0.012368,0.013818
unique,"[I am a developer by profession, I am a studen...","[Independent contractor, freelancer, or self-e...","[Slovakia, Netherlands, Russian Federation, Au...","[Secondary school (e.g. American high school, ...","[18 - 24 years, 11 - 17 years, 5 - 10 years, 2...","[Developer, mobile, nan, Developer, front-end,...","[20 to 99 employees, nan, 100 to 499 employees...","[MacOS, Windows, Linux-based, BSD, Other (plea...","[25-34 years old, 18-24 years old, 35-44 years...","[Man, Prefer not to say, Woman, Non-binary, ge..."
nunique,6,9,181,9,9,8626,10,6,8,16

## Ask meaningful questions

- Countries with highest average salary?
- Are salaries dependence on programming level?
- Top 5 countries with the highest average salaries. 
- Top 5 programming language.
- Ratio of male and female working professionally?
- Most commonly used text editor / IDE for each operating system.

## Preprocessing data to answer the questions

### Answering questions

#### Countries with highest average salaries

## Reflection

## References